#background{
    width:auto;
    height:100vh;
    margin:auto;
    background-image:url(images/box.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    position:relative;
}

.hidden{
    display:none;
}

.showing{
    display:block;
}

.item{
    z-index:1;
}

#quiltImage{
    position:absolute;
    left:300px;
    top:120px;
}

#kwaleImage{
    position:absolute;
    left:200px;
    bottom:100px;
}

#lighterImage{
    position:absolute;
    right:250px;
    top:140px;
}

#pillowImage{
    position:absolute;
    right:260px;
    bottom:30px;
}

#AP{
    background-color:antiquewhite;
    height:400px;
    width:550px;
    position:relative;
}

#AP #imgs img:first-of-type {
    width:200px;
    align-content:center;
    position:absolute;
    left:40px;
    top:20px;
}

#AP #imgs img:last-of-type{
    width:200px;
    align-content:center;
    position:absolute;
    left:40px;
    top:200px;
    padding-top:20px;
}

#AP #quiltText{
    width:200px;
    position:absolute;
    right:30px;
    top:10px;
}