body{
    background:linear-gradient(#BEE7F4,#F8CAF3);
    height:753px;
}

main{
    display:flex;
    justify-content:space-around;
    height:220px;
}

header{
    padding-top:20px;
}

section{
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    width: 160px;
    height:300px;
}

#banner{
    position:relative;
    display:inline-block;
    display:flex;
    justify-content:center;
    padding-bottom:30px;
}

#title{
    position:absolute;
    text-align:center;
    top:30px;
    font-family: 'Cedarville Cursive', cursive;
    height:20px;
}

h1{
    font-size:40px;
    margin:0;
}

.cloud{
    align-content:center;
    position:relative;
    display:inline-block;
    padding-bottom:60px; 
}

.h{
    position:absolute;
    top:10px;
    left:15px;
    align-self:center;
    font-family: 'Cedarville Cursive', cursive;
}

.h:hover{
     transform:scale(1.1);
     transition-timing-function: ease-in-out;
     transition-duration:0.5s;
}

li{
    list-style-type:none;
    text-align:center;
    align-items:center;
}

ul li a{
    list-style-type:none;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
    text-align:center;
    align-items:center;
    line-height:2;
}

a:link{
    text-decoration:none;
}

ul li a:hover{
    color:purple;
    font-weight:bold;
}

#snowman{
    position:fixed;
    bottom:0;
    right:0;
    z-index:-1;
    animation:colorShift 8s infinite alternate;
} 

#snowmanB{
    position:fixed;
    bottom:0;
    right:0;
    z-index:-2;
}

@keyframes colorShift{
    0%{opacity:100%;}
    25%{opacity:75%;}
    50%{opacity:50%;}
    75%{opacity:25%;}
    100%{opacity:0%;}
}

footer{
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    bottom:80px;
    right:100px;
    text-align:center;
}
