body{
    width:auto;
    height:100%vh;
    margin-top:50px;
    background-color:rgb(199, 249, 249);
    font-family: 'Inria Sans', sans-serif;
    text-align:center;
    color:rgb(37, 78, 78);
}

#instructions{
    width:600px;
    margin:auto;
    text-align:center;
}

button{
    background-color: rgba(37, 78, 78,0);
    border-color:rgb(37, 78, 78);
    border-radius:20px;
    color:rgb(37, 78, 78);
    padding-left:0.8em;
    padding-right:0.8em;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
#game{
    width:600px;
    margin:auto;
}

#actions{
    width:200px;
    margin:auto;
}
#score{
    width:900px;
    margin:auto;
    /* padding-left:100px;
    padding-right:100px; */
    /* position:relative;
    z-index:-1; */
}

#illusts{
    height:300px;
    display:flex;
    justify-content:space-around;
}

#left{
    width:550px;
}

#right{
    width:550px;
}

button:hover{
    background-color:rgb(37, 78, 78);
    color:rgb(199, 249, 249);
}


